#menu-automacao {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f0f2f5;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-atalho {
    background-color: #ff8800; /*#25D366; cor do whatsapp*/
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-atalho:hover {
    background-color: #128C7E;
}